/* Scss Document */

$f: 'Roboto',
sans-serif;
@import "2_reset.scss";
.fz36 {
    font-size: 36px;
}
.inner-cal {
    position: relative;
    &:before {
        content: '';
        background-image: url(../images/gold.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        display: block;
        width: 188px;
        height: 161px;
        position: absolute;
        right: 5px;
        top: -12px;
    }
}
.gold {
    background-color: #EFD756;
    border-radius: 3px;
    font-size: 30px;
    width: 175px;
    height: 57px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.c-name {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    h2 {
        margin-right: 30px;
    }
}
.row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
    &.b30 {
        margin-bottom: 30px;
    }
}
.col {
    width: 47%;
}
#page_l {
    overflow: hidden;
    width: 100%;
}
span.select2.select2-container--open {
    width: 100% !important;
}
span.select2-container--open {
    border: 1px solid #000;
    width: auto!important;
}
#calculators {
    position: relative;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        background-color: #37507E;
    }
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 100%;
        background-color: #37507E;
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    &.whaite {
        background-color: #fff;
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
    }
}
.inner-cal {
    background-color: #fff;
    padding: 45px 64px 10px 64px;
    position: relative;
    z-index: 2;
	border-radius: 3px;
}
.total_block {
    margin-bottom: 0;
    display: block;
    height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    &.active {
        height: 347px;
        overflow: visible;
        margin-top: 85px;
    }
    .row {
        margin-bottom: 20px;
        padding: 30px;
        background-color: #F4F6F5;
    }
    dl {
        margin-bottom: 33px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    dt {
        font-size: 16px;
        font-weight: normal;
        color: rgba(71, 71, 71, 0.7);
    }
    dd {
        font-size: 24px;
        font-weight: 500;
    }
    .ll {
        flex-grow: 1;
    }
    .rr {
        width: 510px;
        margin-left: 60px;
        position: relative;
        &:before {
            content: '';
            width: 1px;
            height: 100%;
            background-color: rgba(155, 155, 171, 0.3);
            display: block;
            position: absolute;
            top: 0;
            right: calc(100% + 30px);
        }
    }
}
.tatal_name {
    font-size: 28px;
    color: #2B2B2B;
    font-weight: 500;
    margin-bottom: 40px;
}
.row_total {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-right: -30px;
    margin-bottom: 30px;
    .col_total {
        width: calc(100% / 2 - 30px);
        margin-right: 30px;
        border-bottom: 1px solid rgba(155, 155, 171, 0.3);
        padding-bottom: 15px;
    }
    .label {
        margin-bottom: 15px;
    }
    .blu {
        color: #37609E;
        border-bottom: 1px solid #37609E;
        .label {
            color: #37609E;
        }
    }
}
.price {
    font-size: 24px;
    font-weight: 500;
}
.informer {
    background-image: url(../images/info.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    min-height: 24px;
    padding-left: 32px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.label {
    color: rgba(71, 71, 71, 0.7);
    margin-bottom: 10px;
    font-size: 16px;
}
.calc-input {
    border: 1px solid rgba(155, 155, 171, 0.3);
    border-radius: 3px;
    font-family: $f;
    font-size: 24px;
    line-height: 1;
    color: #474747;
    font-weight: 500;
    padding: 15px 17px;
    outline: none;
    width: 100%;
    height: 60px;
    &:focus {
        border: 2px solid #3F3F3F;
    }
    &:hover {
        border: 2px solid #3F3F3F;
    }
    &::-webkit-input-placeholder {
        color: #474747;
    }
    &::-moz-placeholder {
        color: #474747;
    }
    &:-moz-placeholder {
        color: #474747;
    }
    &:-ms-input-placeholder {
        color: #474747;
    }
}
input[type='number'] {
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
select.calc-input {
    cursor: pointer;
    appearance: none;
    background-image: url(../images/select.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
}
.calc-button {
    font-family: $f;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    background-color: #fff;
    padding: 18px 15px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    background-color: #37609E;
    border-width: 0;
    &:hover {
        background-color: darken(#37609E, 5%);
    }
}
.check {
    font-size: 24px;
    color: #474747;
    line-height: 1;
    input {
        display: none;
        &:checked + label {
            &:before {
                content: '';
                background-color: #37609E;
                background-position: center center;
            }
        }
    }
    label {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:before {
            content: '';
            width: 50px;
            height: 50px;
            border-radius: 3px;
            background-color: #F7F9FC;
            flex-shrink: 0;
            margin-right: 15px;
            background-image: url(../images/check.svg);
            background-repeat: no-repeat;
            background-position: -1000px center;
            background-size: auto 20px;
            box-sizing: border-box;
            border: 1px solid rgba(155, 155, 171, 0.3);
        }
    }
}
.check_small {
    font-size: 16px;
    color: #474747;
    line-height: 1;
    padding: 5px 0 10px;
    input {
        display: none;
        &:checked + label {
            &:before {
                content: '';
                background-color: #37609E;
                background-position: center center;
            }
        }
    }
    label {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:before {
            content: '';
            width: 32px;
            height: 32px;
            border-radius: 3px;
            background-color: #F7F9FC;
            flex-shrink: 0;
            margin-right: 15px;
            background-image: url(../images/check.svg);
            background-repeat: no-repeat;
            background-position: -1000px center;
            background-size: auto 12px;
            box-sizing: border-box;
            border: 1px solid rgba(155, 155, 171, 0.3);
        }
    }
}
.has_too {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    .form-item {
        flex-grow: 1;
    }
    &.show {
        .form-item {
            width: 50%;
            flex-grow: 0;
        }
        .field-piece-weight {
            width: 50%;
            display: block !important;
        }
    }
}
.field-piece-weight {
    flex-shrink: 0;
    margin-left: 20px;
    width: calc(50% - 20px);
}
.calc-process {
    width: 232px;
}
.no_scroll {
    overflow: hidden;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    .wpcf7 form .wpcf7-response-output {
        margin: 0 !important;
        border-radius: 0 !important;
    }
    .wpcf7 form.sent .wpcf7-response-output {
        border-width: 0 !important;
        background-color: forestgreen !important;
        color: #fff !important;
    }
    .wpcf7-not-valid {
        border-color: red !important;
    }
}
.popup_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background-color: rgba(26, 26, 26, 0.6);
}
.popup_wrap {
    max-width: 560px;
    position: relative;
    z-index: 1002;
    background-color: #fff;
    padding: 30px;
    overflow-y: auto;
    max-height: 95%;
    &::-webkit-scrollbar {
        width: 12px;
        /* ширина scrollbar */
    }
    &::-webkit-scrollbar-track {
        background: rgba(155, 155, 171, 0.3);
        /* цвет дорожки */
    }
    &::-webkit-scrollbar-thumb {
        background-color: #37609E;
        /* цвет плашки */
        border-radius: 0px;
        /* закругления плашки */
        /* padding вокруг плашки */
    }
}
.popup-form {
    margin-top: 30px;
}
.popup-form-item {
    margin-bottom: 25px;
    &:last-child {
        margin-bottom: 0;
    }
}
.popup_name {
    font-size: 36px;
    font-weight: 700;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding: 0px 10px 30px 10px;
    color: #222;
}
.popup_close {
    display: none;
}
.popup-text {
    margin-bottom: 0px;
    p {
        margin-bottom: 15px;
        font-weight: 500;
    }
    ul {
        background-color: #F4F4F6;
        padding: 30px;
    }
    li {
        display: block;
        margin-bottom: 9px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.ty {
    color: #474747;
    font-size: 18px;
    line-height: 25px;
    p {
        margin-bottom: 30px;
        font-weight: normal !important;
    }
}
.hot {
    font-size: 16px;
    text-align: center;
    padding: 25px;
    background: linear-gradient(0deg, #F4F4F6, #F4F4F6);
    border: 1px solid rgba(155, 155, 171, 0.1);
    border-radius: 3px;
    i {
        display: block;
        font-size: 36px;
        line-height: 1;
        color: #37609E;
        text-transform: uppercase;
        font-weight: bold;
        font-style: normal;
        display: block;
        margin-top: 5px;
    }
}
.jcfe {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
}
.mb110 {
    margin-bottom: 100px;
}
.calc-input {
    &:focus + div.slider {
        opacity: 0;
    }
}
div.slider {
    margin-top: -1px;
    transition: all 0.2s ease-in-out;
}
.slider-time .ui-slider-pip {
    &:last-child {
        .ui-slider-line {
            display: none !important;
        }
    }
}
@import "10_resp.scss";
