.bottom_box {
  padding: 74px 0;
  background-color: #fff;
}

.bottom_form {
  padding: 48px 44px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
  margin: 0 auto;
  width: 928px;
}
.bottom_form .name {
  text-align: center;
}
.bottom_form .txt {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  color: #474747;
  margin-bottom: 48px;
}
.bottom_form .inner {
  width: 640px;
  margin-right: auto;
  margin-left: auto;
}
.bottom_form .ins {
  position: relative;
}
.bottom_form .mes {
  font-size: 14px;
  font-weight: 300;
  color: #474747;
  margin-top: 8px;
}

.row_thwo {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.row_thwo .form-field {
  width: 48%;
}

.form-field {
  position: relative;
}
.form-field .lab {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #474747;
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 2;
  -webkit-transition: color 200ms, -webkit-transform 200ms;
  transition: color 200ms, -webkit-transform 200ms;
  transition: transform 200ms, color 200ms;
  transition: transform 200ms, color 200ms, -webkit-transform 200ms;
}

textarea.input {
  background-color: #F7F9FC;
  height: 120px;
  width: 100%;
  border-width: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #1A1A1A;
  padding: 20px 16px;
  outline: none;
}

.input {
  background-color: #F7F9FC;
  height: 60px;
  width: 100%;
  border-width: 0;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #1A1A1A;
  padding: 0 16px;
  outline: none;
}

.input:not(:-moz-placeholder-shown) ~ .lab {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:-ms-input-placeholder) ~ .lab {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:focus ~ .lab,
.input:not(:placeholder-shown) ~ .lab {
  -webkit-transform: translateY(-30px) translateX(10px) scale(0.75);
          transform: translateY(-30px) translateX(10px) scale(0.75);
}